@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import '../../node_modules/tachyons/css/tachyons.css';
@import './prism-atom-dark.css';

$primary-color: #7f1ae5;
$off-green: #ebf4ec;
$off-orange: #FE5000;
$ultra-violet: #590098;
$steel: rgba(35, 37, 40, 1);
$black: #393c42;
$white: #ffffff;
$mud: #3B3838;

html, body {
  font-family: sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1;
}

.page {
  &.light {
    color: $black;
    background-color: $white;
  }
  &.dark {
    color: $white;
    background-color: $black;
  }
}

.nav {
  transition: transform .3s ease-in-out;
  &.unpinned {
    transform: translateY(-100%);
  }
}

a {
  text-decoration:  none;
  font-weight: bolder;
  color: $ultra-violet;

  &:hover, &:visited {
    color: inherit;
  }
}

.brand {
  color: $primary-color;
}

// post style

// prismjs

pre[class*="language-"] {
  border-radius: .5rem;
}

// background-color

.bg-off-green {
  background-color: $off-green;
}
.bg-white {
  background-color: $white;
}
.off-orange {
  color: $off-orange;
}
.bg-off-orange {
  background-color: $off-orange;
}
.text-white {
  color: $white;
}
.text-mud {
  color: $mud;
}

.transparent {
  background: 0 0;
}

.profile-hero-cover {
  background-image: url(../assets/imgs/profile_hero_cover_obouov_c_scale,w_1400.jpg);
}

.ball {
  width: 1rem;
  height: 1rem;
  display:inline-block;
  background-color: $ultra-violet;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid $ultra-violet;
  &.active {
    background-color: $white;
  }
}

.transition-opacity {
  transition: opacity .3s ease-in-out;
  &.show {
    opacity: 1;
  }
}

article {
  hr {
    border: 0;
    overflow: hidden;
  }
}