@import '../../node_modules/tachyons/css/tachyons.css';
@import '../../node_modules/prismjs/themes/prism-tomorrow.css';

$primary-color: #7f1ae5;
$off-green: #ebf4ec;
$off-orange: #FE5000;

html, body {
}

a {
  text-decoration:  none;
  font-weight: bolder;
  color: $off-orange;

  &:hover, &:visited {
    color: inherit;
  }
}

.brand {
  color: $primary-color;
}

// post style

// prismjs

pre[class*="language-"] {
  border-radius: .5rem;
}

// background-color

.bg-off-green {
  background-color: $off-green;
}
.off-orange {
  color: $off-orange;
}
.bg-off-orange {
  background-color: $off-orange;
}
